* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1 {
  color: white;
  text-align: center;
}
.form-registro {
  width: 500px;
  height: 500px;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
}
body {
  background-image: url("img/oscuro.jpg");
}
.form-registro h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.control {
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: white;
}
.form-registro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-registro a {
  color: white;
  text-decoration: none;
}
.form-registro a:hover {
  color: white;
  text-decoration: underline;
}
.form-registro .boton {
  width: 100%;
  background-color: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.contactos {
  width: 100%;
  max-width: 1400px;
  border: 3px solid;
  background-color: rgb(17, 17, 90);
  border: 3px solid white;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
p {
  display: inline-block;
  padding: 50px;
  color: white;
}
