h1 {
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: cursive;
}
p {
  margin: auto;
}
.divProductos {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}
input {
  margin: auto;
}
body {
  background-image: url("img/fond.jpg");
}
